[General]
; Default port (7237)
port = 7237

; Path to your video contained folder.
; Use double backslash (\\) or single slash (/) as directory seperator to avoid unwanted error, Example: "C:\\User\\Path\\To\\Folder"
; If none was provided, it will use the current working directory.
dir = "C:\\User\\Path\\To\\Folder"
