<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/colors.css" />
  </head>
  <body style="height: 100%">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="card" style="width: 50rem">
        <div class="card-body">
          <h1 class="card-title text-main">Local Stream Server</h1>
          <div class="card-text">
            <label
              >Your Local Ip Address: <label id="local-ip-address"></label
            ></label>
            <label
              >Your Port: <label id="port-exposed"></label
            ></label>
          </div>
        </div>
      </div>
    </div>

    <script src="../js/renderer.js"></script>
  </body>
</html>
